
.breadcrumb {
    margin: 0;
    // padding: 7px 15px;
    background-color: transparent !important;
    padding-left: 0;
    padding: 2px 0 !important;

    li {
        &::before {
            display: none;
        }
        &::after {
            content: "\f105";
            @include fontawesome();
            margin-left: 5px;
        }

        > a {
            border: 1px solid $color-light-gray2;
            color: #000;
            text-transform: capitalize;
            padding: 5px 10px;
            @include border-radius(2px);
            // font-size: 13px;
            font-size: em(14px);
            text-decoration: none;
            font-family: $font-primary;

            &:hover {
                -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,.2);
                box-shadow: 2px 2px 5px 1px rgba(0,0,0,.2);
            }
        }

        &.active {
            border: 1px solid $color-light-gray2;
            color: #000;
            text-transform: capitalize;
            padding: 3px 10px;
            @include border-radius(2px);
            font-size: em(14px);
            font-weight: $bold;

            &:after {
                display: none;
            }
        }
    }
}