// Indication Colors
$color-gray:#4d595a;
$color-blue2:#007bf6;
$color-green:#009900;
$color-green2:#33AD33;
$color-yellow:#ffcc00;
$color-orange-red:#ff0000;
$color-maroon:#800000;
$color-orange:#FF6D10;
$color-white:#ffffff;
$color-light-gray:#EEEFEF;
$color-light-gray4:#f2f2f2;
$color-light-blue:#dae4ee;
$color-light-gray5:#d4d4d4;

$color-dark2:#4D595A;
$color-dark3:#D7D7D7;
$color-light-gray2:#DDDDDD;
$color-light-gray3:#CCCCCC;
$color-black:#000000;
// Data Block Colors
$color-data-brown:#b36666;
$color-data-green:#00b44e;
$color-data-blue:#0080bc;
$color-data-purple:#8f4e8a;
$color-data-yellow:#ffad33;
$color-data-gray:#4d585a;
$color-data-cyan:#009795;

// List Color Code
$color-list-red:#CC0000;
$color-list-darkgreen:#007A38;
$color-list-cyan:#0080BC;
$color-list-magenta:#660033;
$color-list-yellow:#BA7819;
$color-list-violet:#2131BA;
$color-list-darkyellow:#839F03;
$color-list-gray:#999999;
$color-list-brown:#7F2F00;
$color-list-pink:#9328BA;
$color-list-green:#00B315;


$color-blue:#0961ba;
$color-dark-blue:#043d77;
$color-dark:#333333;
$color-navy:#666;

$color-primary:$color-blue; 
$color-secondary:$color-dark; 
$color-third:$color-green; 

