@mixin border-radius($value:5px) {
    -webkit-border-radius: $value;
    border-radius: $value;
    -moz-border-radius: $value;
}

@mixin nobackground {
    background: transparent !important;
    background-color:transparent !important;
}

//BACKGROUND RGBA COLORS
@mixin t-black($opacity:.6) {
    background: rgba(0,0,0,$opacity) !important;
}

@mixin t-white($opacity:.9) {
    background: rgba(256,256,256,$opacity) !important;
}

@mixin t-color($value1:0,$value2:0,$value3:0,$opacity:.8) {
    background: rgba($value1,$value2,$value3,$opacity) !important;
}

@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}

@mixin transform_translate($x,$y) {
     transform: translate($x,$y);
     -moz-transform: translate($x,$y);
     -webkit-transform: translate($x,$y);
     -o-transform: translate($x,$y);
}

@mixin transform_scale($x,$y) {
     transform: scale($x,$y);
     -moz-transform: scale($x,$y);
     -webkit-transform: scale($x,$y);
     -o-transform: scale($x,$y);
}

@mixin border($value:1px,$style:solid,$color:$color-black) {
    border:$value $style $color;
}

@mixin fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin remove-shadow() {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}


/*for the px convert to em*/
$base__font-size :16px;
@function em($px, $base: $base__font-size){
@return ($px / $base) * 1em;
}


@mixin shadow-box {
    -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.2);
}

@mixin shadow-none {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}


@mixin font-size-primary() {
    font-size: 12px;
}

@mixin font-size-secondary() {
    font-size: 16px;
}



$tablet-screen:940px;
